<article class="fourfour page__content wrapper">  
        <h2>404</h2>
        <h3>Strona nie została odnaleziona</h3>
        <p>Strona <b>XXXXXXXXXXXXXXX</b> nie istnieje lub jest niedostępna.</p>
        <a href="index.html" class="fourfour__button" aria-label="Wróć do strony głownej">Wróć do strony głownej</a>
</article>
