<section>
  <h1>h1 hero section</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis labore
    tempore ea dignissimos sunt, cum id odit enim excepturi quas voluptates non
    pariatur quisquam architecto ducimus molestias illo asperiores consectetur!
  </p>
</section>
