<!--usunąć przy podpięciu, tag tylko do celów testowych - page speed itp-->
<meta name="robots" content="noindex,nofollow" />
<!-- -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= title %></title>
<meta name="description" content="frontend" />
<link rel="shortcut icon" type="image/png" href="favicon.png" />
<!--usuwa stylowanie numeru telefonu z edga-->
<meta name="format-detection" content="telephone=no" />
<!--koniecznie dodać przy podpięciu, definiuje kolor belki w przeglądarce mobilnej-->
<meta name="theme-color" content="#FFF" />
<meta name="msapplication-navbutton-color" content="#FFF" />
<meta name="apple-mobile-web-app-status-bar-style" content="#FFF" />
